//Botones//
.btn-1 {
	@include boton;
    @include fuente('norm', '800', 'xs');
    box-shadow: 0 0 40px 40px $dark-ocean inset, 0 0 0 0 $dark-ocean;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	&:hover {
		box-shadow: 0 0 10px 0 $light-ocean inset, 0 0 10px 4px $light-ocean;
		
	}
}

.btn-2 {
	@include boton;
    @include fuente('norm', '800', 'xs');
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	&:hover {
		box-shadow: 0 0 40px 40px $light-ocean inset;
		color: $dark-ocean;	
		font-weight: bold;
	}
} 

.btn-3 {
	@include boton;
    @include fuente('norm', '800', 'sm');
	&:hover {
		background-color: $light-ocean;
	}
	width: percentage(5);
	height: size(7);
	color: $dark-ocean;
	margin: 80px auto 0 -50px;
}