.carousel-item-texto {
		color: $dark-ocean;
		@include fuente('norm', 'no', 'sm');
		text-align: center;
		margin: 0 5% 30% 5%;
		padding-top: 0;
		text-shadow: 0px 7px 10px rgba(black, 0.5);
	}

.carousel-control-next-icon {
	width: size(6);
	height: size(6);
}
.carousel-control-prev-icon {
	@extend .carousel-control-next-icon;
}

.carrusel-shadow {
	box-shadow: 0px 7px 10px rgba(black, 0.5);
}