.container-foot { 
	@include flex-column;

    .container-foot_line {
        height: size(4);
        background-color: $pinky;
    }

    .container-foot_layout {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        background-color: $light-pink;

        .footer-items-layout{
            @include flex-column;
            align-content: space-evenly;
            width: percentage(3.3);
            .logo-footer{
                width: percentage(3);
                padding: 4%;
            }

            .copyright {
                color: $dark-ocean;
                @include fuente('norm', 'no', 'xxs'); 
                align-self: center;
            }

            .footer-links {
                margin-left: size(1.5);
                a{
                    display:inline-block;
                    @include fuente('norm', '500', 'xxs');
                    border-right: 1px solid $dark-ocean;
                    padding: 0 10px 0 5px;
                    color: $dark-ocean;
                    &:last-child {
                        border: none;
                    }
                    &:hover {
                        opacity: 0.7; 
                    }
                }
            }

            .slogan {
                color: $dark-ocean;
                align-self: center;
                @include fuente('ita', '700', 'xs');
                margin-top: size(2);
                text-shadow: 0px 7px 10px rgba(black, 0.5);
            } 
            
            .mail-layout {
                display: inline-block;
                @include fuente('ita', '700', 'xxs');
	            vertical-align: middle;
                padding: 4%;
                a {
                    color: $dark-ocean;
                    padding-left: size(0);
                    &:hover {
                        opacity: 0.7;
                    }
                }
                img {
                    width: size(5);
                }
            }
            
            .suscribe {
                    padding: size(2);
                    input[type=text], input[type=submit] {
                        width: 100%;
                        padding: size(1.2);
                        margin: 8px 0;
                        @include fuente('norm', '500', 'xxs');
                        border: 2px solid $pinky; 
                      }
                    input[type=submit] {
                        background-color: $ocean-green;
                        color: $light-pink;
                        border: none;
                        &:hover {
                            opacity: 0.7;
                        }  
                    } 
            }

            .icons-redes {
                display: inline-block;
                align-self: center;
                padding-bottom: size(1);
                img {
                width: size(6);
                &:hover {
                    opacity: 0.7;   
                    }
                }    
            }  
        }   
    }
}



  




