//quienes somos//
.grid-nosotros {
    @include grid-column;
    grid-template-rows: 130px 700px;
    grid-template-areas: "nosotros-title nosotros-title" 
                         "nosotros img-nosotros";
    .nos-title {
      grid-area: nosotros-title;
      margin-top: size(-1);
    }                                                   
  }

//contactanos//  
.grid-contacto {
    @include grid-column;
    grid-template-rows: 130px 1000px;
    grid-template-areas: "contact-title contact-title"
                         "contact-txt formulario";
    margin: 30px 30px 0 30px; 
    row-gap: size(6);                    
    .h1-contacto {
      grid-area: contact-title; 
      margin-top: size(6);
    }   
  }  

//londres y tokio// 
.grid-city {
    @include grid-column;
    grid-template-rows: 130px 700px 1300px;
    grid-template-areas: "title title"
                         "itinerario video"
                         "galeria galeria";
    column-gap: 40px;  
    .grid-city-title {
      grid-area: title;
      margin-top: size(-1);
    }  
    .grid-city-video {
      grid-area: video;
      margin-top: size(4);
      width: 560px;
      height: 315px; 
    }

    .grid-city-galeria {
      grid-area: galeria;
    }
    
}

//recomendados//
.grid-recommend {
  @include grid-column;
  grid-template-rows: 130px 900px;
  row-gap: size(7);
  margin: 10px 70px 0 70px;
  justify-items: center;
  grid-template-areas: "title title"
                       "londres tokyo";
  .grid-recommend-title {
    grid-area: title;
    margin-top: size(8);
  }                                       
}

//servicios//
.grid-svc {
  @include grid-column;
  grid-template-rows: 130px 650px 650px 200px;
  row-gap: size(7);
  margin: 10px 70px 0 70px;
  justify-items: center;
  grid-template-areas: "svc-title svc-title"
                       "itinerario hotel"
                       "idiomas otros"
                       "btn-svc btn-svc";
  .svc-title {
    grid-area: svc-title;
    margin-top: size(8);
  }
  .itinerario-card {
    grid-area: itinerario;
  }
  .hotel-card {
    grid-area: hotel;
  }
  .idomas-card {
    grid-area: idiomas;
  }
  .otros-card {
    grid-area: otros;
  }  
	.btn-svc {
    grid-area: btn-svc;
	  
	} 
}                     

//error 404//
.error-grid {
  @include grid-column;
  grid-template-areas: "error-title error-title"
                       "error-img error-txt"; 
  align-items: center; 
  row-gap: size(5);
  column-gap: 0;                   
  .error-title {
    grid-area: error-title;
    margin-top: size(-5);
    @include fuente ('norm', '700', 'lg');  
  }  
  .error-img {
    grid-area: error-img;
    margin: 0 -20px 20px 40px;
    justify-self: center;
  }              
  .error-texto {
    grid-area: error-txt;
    @include flex-column;
    background-color: $dark-ocean;
    text-align: center;
    margin: 0 40px 20px -20px;
    padding: 160px 30px 160px 30px;
  }  
  .error-btn {
    margin-left: size(3);
  }   
  
}

  

  