.nav-color {
	background-image: linear-gradient(to bottom, $ocean-green, $dark-ocean);
	border-bottom: solid 1px $light-ocean;
}

.navbar-brand {
	width: percentage(5);
}

.logo{
	width: 11vw;
	margin-left: percentage(0.4);
	  }

.navbar-light {
	.navbar-nav {
		.nav-link {
			color: $light-ocean;
			&:hover {
				color: $light-ocean;
		    }
		}	
	}
}

li {
	border-right: 1.5px solid $light-ocean;
	@include fuente('norm', '700', 'xxs');
	padding: 0 25px 0 25px;
		&:last-child {
		border: none;
		}
	    a {
		&:hover {
			border-bottom: solid 4px $light-ocean;
		}
	}
	.active-page {
		border-bottom: 1.4px solid $light-pink;
		transform: scale(1.1);
		font-style: italic;
	}
}

ul {
	ul {
		li {
		border-bottom: 1px solid $ocean-green;
		background-color: $light-ocean;
		width: size(20);
		text-align: center;
		}
	}
}

.navbar-light .navbar-toggler {
    border-color: $light-ocean;
}

.navbar-nav .dropdown-menu {
	background-color: transparent;
}



