@media only screen and (min-width: 434px) and (max-width: 576px) {
//contacto (hay una querie de contacto para min:800px más abajo// 
    .grid-contacto {
      @include grid-row;
      grid-template-rows: 40px 200px 900px;
      grid-template-areas: "contact-title"
                          "contact-txt" 
                          "formulario";
      row-gap: size(0);  
      .h1-contacto {
        margin-top: size(1);
      }                     
    } 

    .contact-txt {
      margin: 50px 20px auto 20px;
    } 

    .text-question {
      margin-top: 0;
    }

    .contacto-img {
      display: none;
    }
//fin contacto// 

//nosotros//
    .grid-nosotros {
      @include grid-row;
      grid-template-rows: 70px 550px 500px;
      grid-template-areas:  "nosotros-title"
                            "nosotros"
                            "img-nosotros";
      justify-content: center;                                                   
    }  

    .h1-style {
      @include fuente('norm', '700', 'sm');
    } 
    
    p {
      @include fuente('norm', 'no', 'xxs');
    }

    .nosotros-div {
      margin: 10px 30px 0 30px;
      width: auto;
      padding: size(2);
    }

    .nosotros-img {
      justify-self: center;
      padding:0; 
    }

    .staff {
      @include flex-column;
      width: percentage(9);
      margin-left: percentage(0.5);
      .staff-img {
        align-self: center;
        width: percentage(4);
      }
      .staff p {
        padding: size(1);
      }  
    }  
}                       

@media only screen and (min-width: 577px) and (max-width: 990px) {
//nosotros, hay otro querie para pantallas grandes y más chicas más abajo//
    .grid-nosotros {
      @include grid-row;
      grid-template-rows: 100px 450px 600px;
      grid-template-areas:  "nosotros-title"
                            "nosotros"
                            "img-nosotros";
      justify-content: center;                                                   
    }
    
    .nosotros-div {
      margin: 10px 50px 0 50px;
      width: auto;
      padding: size(2);
    }

    .nosotros-img {
      height: size(45);
      justify-self: center;
    }

    .staff {
      @include flex-column;
      .staff-img {
        align-self: center;
      }
      .staff p {
        padding: size(3);
        width: percentage(4);
      }  
    }  
}    

//recomendados//
@media only screen and (min-width: 577px) and (max-width: 1250px) {
    .grid-recommend {
      @include grid-row;
      grid-template-rows: 100px 800px 800px;
      margin: 0;
      grid-template-areas: "title"
                          "londres" 
                          "tokyo"; 
      .grid-recommend-title {
        margin-top: size(5);
      }                      
    }
}

@media only screen and (max-width: 576px) {
.grid-recommend {
  @include grid-row;
  grid-template-rows: 80px 800px 800px;
  margin: 0;
  grid-template-areas: "title"
                      "londres" 
                      "tokyo"; 
  .grid-recommend-title {
    margin-top: size(5);
  }                      
}

  .size-responsive {
    width: 280px;
    height: 550;
  }
}    

//nosotros, recomendados y contacto pantallas grandes//
@media only screen and (min-width: 1691px) {
//nosotros//  
  .grid-nosotros {
    grid-template-rows: 130px 1000px;
  }  

  .nosotros-div {
    margin: 150px 0 0 330px;
    width: 70%;
  }

  .nosotros-img {
    height: size(75);
    width: percentage(7.5);
  }

//recomendados//
  .grid-recommend {
    margin: 10px 220px 0 220px;  
  }
} 

@media only screen and (min-width: 1374px) {
//contacto//
  .contacto-img {
    width: percentage(6);
    margin-top: size(4);
  }
}  
  
//contacto y nosotros//
@media only screen and (min-width: 577px) and (max-width: 800px) {

  .grid-contacto {
    @include grid-row;
    grid-template-rows: 50px 200px 900px;
    grid-template-areas: "contact-title"
                         "contact-txt" 
                         "formulario";
    row-gap: size(3);  
    .h1-contacto {
      margin-top: size(2);
    }                     
  } 

  .contact-txt {
    margin: 20px 30px auto 30px;
  } 

  .contacto-img {
    display: none;
  }
} 

@media only screen and (max-width: 433px) {
  .grid-contacto {
    @include grid-row;
    grid-template-rows: 40px 200px 900px;
    grid-template-areas: "contact-title"
                         "contact-txt" 
                         "formulario";
    row-gap: size(1);  
    .h1-contacto {
      margin-top: size(1);
    }                     
  } 

  .h1-style {
    @include fuente('norm', '700', 'sm');
    } 

  .contact-txt {
    margin: 20px 20px auto 20px;
  } 

  .text-question {
    margin-top: 0;
  }

  .contacto-img {
    display: none;
  }

  form label {
    padding-left: 50px;
  }

  //nosotros//
  .grid-nosotros {
    @include grid-row;
    grid-template-rows: 70px 600px 500px;
    grid-template-areas:  "nosotros-title"
                          "nosotros"
                          "img-nosotros";
    justify-content: center;                                                   
  }  

  .h1-style {
    @include fuente('norm', '700', 'sm');
  } 
  
  p {
    @include fuente('norm', 'no', 'xxs');
  }

  .nosotros-div {
    margin: 10px 20px 0 20px;
    width: auto;
    padding: size(2);
  }

  .nosotros-img {
    justify-self: center;
    padding:0; 
  }

  .staff {
    @include flex-column;
    width: percentage(9);
    margin-left: percentage(0.5);
    .staff-img {
      align-self: center;
      width: percentage(4);
    }
    .staff p {
      padding: size(1);
    }  
  }  
}               

//servicios//
@media only screen and (min-width: 1650px) {
  .grid-svc {
    margin: 10px 150px 0 150px;
  }  
}    

@media only screen and (min-width: 1134px) and (max-width: 1234px) {
  .grid-svc {
    margin: 10px 5px 0 5px;
  }  
} 

@media only screen and (min-width: 600px)and (max-width: 1133px) {
  .grid-svc {
  @include grid-row;
  grid-template-rows: 130px 650px 650px 650px 650px 200px;
  row-gap: size(4);
  margin: 10px 5px 0 5px;
  grid-template-areas: "svc-title"
                       "itinerario" 
                       "hotel"
                       "idomas"
                       "otros"
                       "btn-svc";
  }
}

.btn-quiero {
  margin: 40px auto 40px auto;
}

@media only screen and (min-width: 600px)and (max-width: 1024px) {
   
  .card.card-svc {
    width: size(55);
    height: size(35);
    margin: 40px auto 40px auto;
    &:hover {
      height: 50%;
    }
    .card-desc {
      opacity: 1;
      height: auto;
      top: 350px;
      overflow-y: hidden; 
    }
  }
}

@media only screen and (max-width: 599px) {
  .grid-svc {
  @include grid-row;
  grid-template-rows: 45px 670px 500px 570px 630px 200px;
  row-gap: size(4);
  margin: 10px 0 0 0;
  grid-template-areas: "svc-title"
                       "itinerario" 
                       "hotel"
                       "idiomas"
                       "otros"
                       "btn-svc";
  .svc-title {
    margin-top: size(3);                                                                
    }
  }  

  .card.card-svc {
    width: size(28);
    height: size(25);
    margin: 40px auto 40px auto;
    &:hover {
      height: 60%;
    }
    .card-desc {
      @include fuente('norm', 'no', 'xxs');
      opacity: 1;
      height: auto;
      top: 250px;
      overflow-y: hidden; 
    }
 }
  .btn-quiero {
    margin: 40px auto 40px auto;
  }
}

  
//404 error page// 
@media only screen and (max-width: 850px) {  
.error-grid {
  @include grid-column;
  grid-template-areas: "error-title"
                       "error-img" 
                       "error-txt";
  .error-texto {  
    margin-left: size(4);                      
  }   
}
}

