@media only screen and (min-width: 434px) and (max-width: 576px) {
//contacto (hay una querie de contacto para min:800px más abajo// 
    .grid-contacto {
      @include grid-row;
      grid-template-rows: 40px 500px 900px;
      grid-template-areas: "contact-title"
                          "contact-txt" 
                          "formulario";
      row-gap: size(0);  
      .h1-contacto {
        margin-top: size(1);
      }                     
    } 

    .contact-txt {
      margin-right: size(3);
    } 

    .text-question {
      margin-top: 0;
    }

    .contacto-img {
      width: 50%;
      margin-top: size(5);
    }
//fin contacto// 

//nosotros//
    .grid-nosotros {
      @include grid-row;
      grid-template-rows: 70px 600px 500px;
      grid-template-areas:  "nosotros-title"
                            "nosotros"
                            "img-nosotros";
      justify-content: center;                                                   
    }  

    .h1-style {
      @include fuente('norm', '700', 'sm');
    } 
    
    p {
      @include fuente('norm', 'no', 'xxs');
    }

    .nosotros-div {
      margin: 10px 20px 0 20px;
      width: auto;
      padding: size(2);
    }

    .nosotros-img {
      justify-self: center;
      padding:0; 
    }
}                       

@media only screen and (min-width: 577px) and (max-width: 990px) {
//nosotros, hay otro querie para pantallas grandes más abajo//
    .grid-nosotros {
      @include grid-row;
      grid-template-rows: 100px 500px 600px;
      grid-template-areas:  "nosotros-title"
                            "nosotros"
                            "img-nosotros";
      justify-content: center;                                                   
    }
    
    .nosotros-div {
      margin: 10px 20px 0 20px;
      width: auto;
      padding: size(2);
    }

    .nosotros-img {
      height: size(45);
      justify-self: center;
    }
}    

//recomendados//
@media only screen and (min-width: 577px) and (max-width: 1250px) {
    .grid-recommend {
      @include grid-row;
      grid-template-rows: 100px 800px 800px;
      margin: 0;
      grid-template-areas: "title"
                          "londres" 
                          "tokyo"; 
      .grid-recommend-title {
        margin-top: size(5);
      }                      
    }
}

@media only screen and (max-width: 576px) {
.grid-recommend {
  @include grid-row;
  grid-template-rows: 80px 800px 800px;
  margin: 0;
  grid-template-areas: "title"
                      "londres" 
                      "tokyo"; 
  .grid-recommend-title {
    margin-top: size(5);
  }                      
}

  .size-responsive {
    width: 280px;
    height: 550;
  }
}    

//nosotros y recomendados pantallas grandes//
@media only screen and (min-width: 1691px) {
//nosotros//  
  .grid-nosotros {
    grid-template-rows: 130px 1000px;
  }  

  .nosotros-div {
    margin: 150px 0 0 450px;
    width: 60%;
  }

  .nosotros-img {
    height: size(75);
    padding-right: size(20);
  }

//recomendados//
  .grid-recommend {
    margin: 10px 220px 0 220px;  
  }
}  
 
//contacto y nosotros//
@media only screen and (min-width: 577px) and (max-width: 800px) {

  .grid-contacto {
    @include grid-row;
    grid-template-rows: 100px 500px 900px;
    grid-template-areas: "contact-title"
                         "contact-txt" 
                         "formulario";
    row-gap: size(3);  
    .h1-contacto {
      margin-top: size(3);
    }                     
  } 

  .contact-txt {
    margin-right: size(3);
  } 

  .contacto-img {
    width: 30%;
    margin-top: size(5);
  }
} 

@media only screen and (max-width: 433px) {
  .grid-contacto {
    @include grid-row;
    grid-template-rows: 40px 450px 900px;
    grid-template-areas: "contact-title"
                         "contact-txt" 
                         "formulario";
    row-gap: size(1);  
    .h1-contacto {
      margin-top: size(1);
    }                     
  } 

  .h1-style {
    @include fuente('norm', '700', 'sm');
    } 

  .contact-txt {
    margin-right: size(3);
  } 

  .text-question {
    margin-top: 0;
  }

  .contacto-img {
    width: 40%;
    margin-top: size(5);
  }

  form label {
    padding-left: 50px;
  }

  .grid-nosotros {
    @include grid-row;
    grid-template-rows: 70px 600px 500px;
    grid-template-areas:  "nosotros-title"
                          "nosotros"
                          "img-nosotros";
    justify-content: center;                                                   
  }  

  .h1-style {
    @include fuente('norm', '700', 'sm');
  } 
  
  p {
    @include fuente('norm', 'no', 'xxs');
  }

  .nosotros-div {
    margin: 10px 20px 0 20px;
    width: auto;
    padding: size(2);
  }

  .nosotros-img {
    justify-self: center;
    padding:0; 
  }
}               

//servicios//
@media only screen and (min-width: 1650px) {
  .grid-svc {
    margin: 10px 150px 0 150px;
  }  
}    

@media only screen and (min-width: 1134px) and (max-width: 1234px) {
  .grid-svc {
    margin: 10px 5px 0 5px;
  }  
} 

@media only screen and (min-width: 600px)and (max-width: 1133px) {
  .grid-svc {
  @include grid-row;
  grid-template-rows: 130px 650px 650px 650px 200px;
  row-gap: size(4);
  margin: 10px 5px 0 5px;
  grid-template-areas: "svc-title"
                       "itinerario" 
                       "hotel"
                       "otros"
                       "btn-svc";
  }
}

@media only screen and (min-width: 600px)and (max-width: 1133px) {
  .grid-svc {
  @include grid-row;
  grid-template-rows: 130px 650px 650px 650px 200px;
  row-gap: size(4);
  margin: 10px 5px 0 5px;
  grid-template-areas: "svc-title"
                       "itinerario" 
                       "hotel"
                       "otros"
                       "btn-svc";
  }
}

@media only screen and (max-width: 599px) {
  .grid-svc {
  @include grid-row;
  grid-template-rows: 130px 650px 650px 650px 200px;
  row-gap: size(4);
  margin: 10px 0 0 0;
  grid-template-areas: "svc-title"
                       "itinerario" 
                       "hotel"
                       "otros"
                       "btn-svc";
  }

  .card.card-svc {
    width: size(28);
    height: size(50);
    margin: 40px auto 40px auto;
  }

  .btn-quiero {
    margin: 40px auto 40px auto;
  }
}

  
//404 error page// 
@media only screen and (max-width: 850px) {  
.error-grid {
  @include grid-column;
  grid-template-areas: "error-title"
                       "error-img" 
                       "error-txt";
  .error-texto {  
    margin-left: size(4);                      
  }   
}
}

