//aside en index//
.aside-sty {
	border: 1px double $light-ocean;
	border-radius: size(1);
	justify-self: center;
	padding: size(1);
	margin: 50px 0 50px 0;
	box-shadow: 0px 7px 10px rgba($light-ocean, 0.5);
}

//formulario//
.contact-txt {
	@include flex-column;
	grid-area: contact-txt;
	margin: 20px auto auto 80px;
}

.text-question {
	border-radius: size(0.5);
	text-align: center;
	padding: size(1.5);
	margin-top: size(5);
	box-shadow: 0 0 10px 0 $light-pink inset, 0 0 10px 4px $light-pink;
}

form {
	grid-area: formulario;
	margin: 0 0 0 10px;
	@include flex-column;
	align-items: center;

	label {
		color: $light-ocean;
		@include fuente('norm', '500', 'xs');
		margin-top: size(1);
		align-self: flex-start;
		padding-left: size(10);	
	} 

	input {
		@include form;
	}

	.radio-container {
		width: size(1.5);
		height: size(1.5);
		margin-left: size(2); 
	  }
	  
	.radio-container-si {
		width: size(1.5);
		height: size(1.5);
		margin-left: size(2.8);
	  }
	  
	select {
		@include form;
	  }  
	  
	textarea {
		@include form;
		height: 150px;
		margin-top: 1rem;
	  }
	
}
//fin formulario//

//flex de container ciudades//
.grid-city-container {
	grid-area: itinerario;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	margin: -20px 5px 0 80px;
}

.container-galeria {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 30px auto 0 40px;
	width: 90%;
  }

//nosotros div staff//
.staff {
	@include flex-row;
	background-color: $dark-ocean;
	box-shadow: 0 40px 60px -6px black;
	border-radius: size(3);
	margin-bottom: size(4);
	.staff-img { 
		width: percentage(2.5);
		border-radius: size(70);
		padding: size(2);
	}
	p {
		text-align: center;
		padding: size(5);
		align-self: center;
	}
	span {
		font-weight: 700;
	}
}  
                 
   