//operaciones tamaños//
$unit: 10px;
$percentage-base: 10%;

//fuentes//
$font: "Trirong", serif;

//paleta//
$ocean-green: #006D7B;
$pinky: #d9b08c;
$dark-ocean: #324b50;
$light-ocean: #d1e8e2;
$light-pink: #ffcb9a;

//otros//
$total-width: 100%;

